<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center"><span translate="module.<%= moduleName %>.moduleName"></span>
          <strong>business casual</strong>
        </h2>
        <hr>
      </div>
    </div>
  </div>
  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">
      <div ng-include="template.url"></div>

      <!-- Pager -->
      <!--      <ul class="pager">
              <li class="previous">
                <a href="#">&larr; Older</a>
              </li>
              <li class="next">
                <a href="#">Newer &rarr;</a>
              </li>
            </ul>-->

    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Blog Search Well -->
      <div class="well">
        <h4 translate="module.<%= moduleName %>.blogSearch"></h4>
        <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
        <!-- /.input-group -->
      </div>

      <!-- Blog Categories Well -->
      <div class="well">
        <h4 translate="module.<%= moduleName %>.blogCategories"></h4>
        <div class="row">
          <div class="col-lg-6">
            <ul class="list-unstyled">
              <li ng-repeat="category in blogCategories"><a href="#">{{category.name}}</a></li>
            </ul>
          </div>
          <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
      </div>

      <!-- Side Widget Well -->
      <!--      <div class="well">
              <h4>Side Widget Well</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
            </div>-->

    </div>

  </div>
</div>