<div class="box" ng-repeat="blogEntry in blogEntries | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
  <h2>
    <a href="#/blog/{{blogEntry.id}}">{{blogEntry.title}}</a>
  </h2>
  <p class="lead">
    <span translate="module.<%= moduleName %>.by"></span> <a href="#">{{blogEntry.author}}</a>
  </p>
  <p><span class="glyphicon glyphicon-time"></span> <span translate="module.<%= moduleName %>.postedOn"></span> {{blogEntry.dateTime}}</p>
  <hr>
  <img class="img-responsive" src="{{blogEntry.img.src}}" alt="{{blogEntry.img.src}}">
  <hr>
  <p>{{blogEntry.summary}}</p>
  <a class="btn btn-primary" href="#/blog/{{blogEntry.id}}"><span translate="module.<%= moduleName %>.readMode"></span> <span class="glyphicon glyphicon-chevron-right"></span></a>
  <hr>
</div>

<ul class="pager">
  <li class="previous"><a ng-click="pagination.prevPage()" ng-hide="pagination.page == 0">&larr; <span translate="module.<%= moduleName %>.newer"></span></a></li>
  <li class="next"><a ng-click="pagination.nextPage()" ng-hide="pagination.page + 1 >= pagination.numPages"><span translate="module.<%= moduleName %>.older"></span> &rarr;</a></li>
</ul>

