<div class="container">

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center"><span translate="module.<%= moduleName %>.moduleName"></span>
          <strong>business casual</strong>
        </h2>
        <hr>
      </div>
      <div class="col-md-8">
        <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
        <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=<%= contact.gmLatitude %>,<%= contact.gmLongitude %>&amp;t=m&amp;z=<%= contact.gmZoom %>&amp;output=embed"></iframe>
      </div>
      <div class="col-md-4">
        <p>Phone:
          <strong><%= contact.phone %></strong>
        </p>
        <p>Email:
          <strong><a href="mailto:<%= contact.email %>"><%= contact.email %></a></strong>
        </p>
        <p>Address:
          <strong><%= contact.address %>
            <br><%= contact.city %>, <%= contact.pobox %></strong>
        </p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center"><span translate="<%= moduleName %>"></span>
          <strong>form</strong>
        </h2>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, vitae, distinctio, possimus repudiandae cupiditate ipsum excepturi dicta neque eaque voluptates tempora veniam esse earum sapiente optio deleniti consequuntur eos voluptatem.</p>
        <form name="contactForm" ng-submit="submitForm(contactForm.$valid)" role="form" ng-controller="ContactController" novalidate>
          <div class="row">
            <div class="form-group col-lg-4" ng-class="{ 'has-error' : contactForm.name.$invalid && !contactForm.name.$pristine }">
              <label>Nombre</label>
              <input name="name" type="text" class="form-control" ng-model="formData.name" placeholder="Nombre" ng-minlength="3" required>
              <p ng-show="contactForm.name.$error.minlength" class="help-block">El nombre es obligatorio</p>
            </div>
            <div class="form-group col-lg-4" ng-class="{ 'has-error' : contactForm.email.$invalid && !contactForm.email.$pristine }">
              <label>E-Mail</label>
              <input type="email" name="email" class="form-control" ng-model="formData.email" placeholder="E-Mail" required>
              <p ng-show="contactForm.email.$invalid && !contactForm.email.$pristine" class="help-block">El E-Mail es obligatorio</p>
            </div>
            <!--            <div class="form-group col-lg-4" ng-class="{ 'has-error' : contactForm.phone.$invalid && !contactForm.phone.$pristine }">
                          <label>Teléfono</label>
                          <input name="phone" id="phone" type="tel" class="form-control" ng-model="formData.phone" placeholder="Teléfono" min-length="12 " required>
                          <p ng-show="contactForm.phone.$error.minlength" class="help-block">Número de teléfono incorrecto</p>
                        </div>-->
            <div class="clearfix"></div>
            <div class="form-group col-lg-12" ng-class="{ 'has-error' : contactForm.text.$invalid && !contactForm.text.$pristine }">
              <label>Mensaje</label>
              <textarea name="text" class="form-control" rows="6"  ng-model="formData.text" placeholder="Mensaje" ng-minlength="10" required></textarea>
              <p ng-show="contactForm.text.$error.minlength" class="help-block">El mensaje es demasiado corto</p>
            </div>
            <div class="form-group col-lg-12">
              <input type="hidden" name="save" value="contact">
              <button type="submit" class="btn btn-default" ng-click="processForm()"  ng-disabled="contactForm.$invalid">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
<!-- /.container -->
