<div class="jumbotron">
  <p class="lead">
    <!--<img src="http://lorempixel.com/600/300/">-->
    <img src="images/reqtangular.png" alt="codebusters logo">
  </p>
</div>


<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p class="intro-text">Scaffolding generator for new web projects. Preset integration with AngularJS and Require.</p>
        </div>
      </div>
    </div>
  </div>
</header>
