<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     
      <a class="navbar-brand" href="index.html"><%= appName %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" ng-controller="MainMenuController as menuCtrl" ng-show="{{showMainMenu}}">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li ng-class="{ active: menuCtrl.isSelected('HOME') }">
          <a ng-click="menuCtrl.selectMenu('HOME')" ng-href="#" translate="HOME"></a>
        </li>
        <!-- navAnchor (do not delete!)-->
      </ul>
    </div>
    <!-- /.navbar-collapse -->
    <!-- /.container -->
</nav>

<div ng-view></div>


<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3"><p class="text-muted smallText"><%= reqtangularName %> v<%= reqtangularVersion %> Mode:{{envMode}}</p></div>
      <div class="col-md-3"><div id="footerBrand" class="smallText"><p class="text-muted smallText">reqtangular<img src="favicon.ico"> 2014</p></div></div>
      <div class="col-md-6">
        <img class="img-responsive" src="images/reqtangular_logo.png" alt="reqtangular logo" style="width: 50px">
        <img class="img-responsive" src="images/reqtangular_small_brands.png" alt="generator-reqtangular">
      </div>
    </div>
  </div>
</footer>
