<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center"><span translate="<%= moduleName %>"></span>
          <strong>business casual</strong>
        </h2>
        <hr>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="box">
      <div class="col-sm-<%= colValue %> portfolio-item" ng-repeat="entry in portFolioEntries">
        <a href="#">
          <img src="{{entry.img.src}}" class="img-responsive" alt="{{entry.img.alt}}">
        </a>
        <h3>
          <a href="#">{{entry.name}}</a>
        </h3>
        <p>{{entry.description}}</p>
      </div>
    </div>
  </div>
</div>